<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-mapbox" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Mapbox</name>
    <js-module name="Mapbox" src="www/Mapbox.js">
        <clobbers target="Mapbox" />
    </js-module>
    
    <author>Exadel</author>
    
    <license>MIT</license>
    
    <keywords>Maps, Mapping, Native maps</keywords>
    
    <engines>
        <engine name="cordova" version=">=3.5.0"/>
        <!--engine name="cordova-android" version=">=4" /-->
        <engine name="cordova-plugman" version=">=4.2.0"/><!-- needed for gradleReference support -->
      </engines>

    
    <repo>https://github.com/ancipov/cordova-plugin-mapbox.git</repo>
    
    <preference name="ACCESS_TOKEN" />
    <dependency id="cordova-plugin-add-swift-support" version="2.0.2"/>

    <!-- iOS -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Mapbox">
                <param name="ios-package" value="Mapbox" />
            </feature>
        </config-file>
        
        <config-file target="*-Info.plist" parent="MGLMapboxMetricsEnabledSettingShownInApp">
          <true/>
        </config-file>
        <config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
          <true/>
        </config-file>
        
        <config-file target="*-Info.plist" parent="MBXAccessToken">
          <string>$ACCESS_TOKEN</string>
        </config-file>
        
        <source-file src="src/ios/libs/MapboxCommon.xcframework" framework="true"/>
        <source-file src="src/ios/libs/MapboxCoreMaps.xcframework" framework="true"/>
        <source-file src="src/ios/libs/MapboxMaps.xcframework" framework="true"/>
        <source-file src="src/ios/libs/MapboxMobileEvents.xcframework" framework="true"/>
        <source-file src="src/ios/libs/Turf.xcframework" framework="true"/>
        <source-file src="src/ios/Mapbox.swift" />
<!--        <resource-file src="src/ios/libs/Mapbox.bundle" />-->
<!--        <resource-file src="src/ios/libs/Settings.bundle" />-->
      </platform>
    
</plugin>
