<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-mapbox" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Mapbox</name>
    <js-module name="Mapbox" src="www/Mapbox.js">
        <clobbers target="Mapbox" />
    </js-module>
    
    <author>Exadel</author>
    
    <license>MIT</license>
    
    <keywords>Maps, Mapping, Native maps</keywords>
    
    <engines>
        <engine name="cordova" version=">=3.5.0"/>
        <!--engine name="cordova-android" version=">=4" /-->
        <engine name="cordova-plugman" version=">=4.2.0"/><!-- needed for gradleReference support -->
      </engines>

    
    <repo>https://github.com/ancipov/cordova-plugin-mapbox.git</repo>
    
    <preference name="ACCESS_TOKEN" />
    <dependency id="cordova-plugin-add-swift-support" version="2.0.2"/>

    <!-- iOS -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Mapbox">
                <param name="ios-package" value="Mapbox" />
            </feature>
        </config-file>
        
        <config-file target="*-Info.plist" parent="MGLMapboxMetricsEnabledSettingShownInApp">
          <true/>
        </config-file>
        <config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
          <true/>
        </config-file>
        
        <config-file target="*-Info.plist" parent="MBXAccessToken">
          <string>$ACCESS_TOKEN</string>
        </config-file>
        
        <framework src="src/ios/libs/MapboxCommon.xcframework" framework="true" custom="true" embed="true" />
        <framework src="src/ios/libs/MapboxCoreMaps.xcframework" framework="true" custom="true" embed="true" />
        <framework src="src/ios/libs/MapboxMaps.xcframework" framework="true" custom="true" embed="true" />
        <framework src="src/ios/libs/MapboxMobileEvents.xcframework" framework="true" custom="true" embed="true" />
        <framework src="src/ios/libs/Turf.xcframework" framework="true" custom="true" embed="true" />
        <source-file src="src/ios/Mapbox.swift" />
        <resource-file src="src/ios/libs/Mapbox.bundle" />

      </platform>
    
      <platform name="android">
	  
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="Mapbox">
				<param name="android-package" value="io.appery.plugin.mapbox.Mapbox" />
			</feature>
		</config-file>
		<config-file parent="/*" target="res/values/strings.xml">
			<string name="access_token">$ACCESS_TOKEN</string>
		</config-file> 
		
		<config-file parent="/*" target="AndroidManifest.xml">
			<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
      		<uses-permission android:name="android.permission.INTERNET" />
      		<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
		    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
      		<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
      		<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
		</config-file>
		
    	<framework src="src/android/mapbox.gradle" custom="true" type="gradleReference"/>
		<framework src="com.mapbox.maps:android:10.4.0"/>
		
   		<source-file src="src/android/Mapbox.java" target-dir="io/appery/plugin/mapbox"/>
		
		<feature name="Echo">
		    <param name="android-package" value="io.appery.plugin.mapbox" />
		    <param name="onload" value="true" />
		</feature>
		
	  </platform>
</plugin>
